@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
body.bp p {
  margin: 0 0 1.5em;
}
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body.bp a {
  text-decoration: underline;
  color: #cc232a;
}
body.bp a:visited {
  color: #990000;
}
body.bp a:focus {
  color: black;
}
body.bp a:hover {
  color: black;
}
body.bp a:active {
  color: #ff232a;
}
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body.bp strong {
  font-weight: bold;
}
body.bp em {
  font-style: italic;
}
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
body.bp sup, body.bp sub {
  line-height: 0;
}
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body.bp del {
  color: #666666;
}
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body.bp li ul, body.bp li ol {
  margin: 0;
}
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
body.bp ul {
  list-style-type: disc;
}
body.bp ol {
  list-style-type: decimal;
}
body.bp dl {
  margin: 0 0 1.5em 0;
}
body.bp dl dt {
  font-weight: bold;
}
body.bp dd {
  margin-left: 1.5em;
}
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
body.bp th {
  font-weight: bold;
}
body.bp thead th {
  background: #c3d9ff;
}
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
body.bp tr.even td {
  background: #e5ecf9;
}
body.bp tfoot {
  font-style: italic;
}
body.bp caption {
  background: white;
}
body.bp .quiet {
  color: #dddddd;
}
body.bp .loud {
  color: #666666;
}
body.bp .clear {
  clear: both;
}
body.bp .nowrap {
  white-space: nowrap;
}
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.bp .showgrid {
  background: url('/images/grid.png');
}
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body.bp .error a {
  color: #8a1f11;
}
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body.bp .notice a {
  color: #514721;
}
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body.bp .success a {
  color: #264409;
}
body.bp .hide {
  display: none;
}
body.bp .highlight {
  background: yellow;
}
body.bp .added {
  background: #006600;
  color: white;
}
body.bp .removed {
  background: #990000;
  color: white;
}

body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
body.bp div.colborder {
  padding-right: 9px;
  margin-right: 10px;
  border-right: 1px solid #eeeeee;
}
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
body.bp form.inline {
  line-height: 3;
}
body.bp form.inline p {
  margin-bottom: 0;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body a {
  text-decoration: underline;
  color: #cc232a;
}
body a:visited {
  color: #990000;
}
body a:focus {
  color: black;
}
body a:hover {
  color: black;
}
body a:active {
  color: #ff232a;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong {
  font-weight: bold;
}
body em {
  font-style: italic;
}
body dfn {
  font-style: italic;
  font-weight: bold;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: white;
}
body .quiet {
  color: #dddddd;
}
body .loud {
  color: #666666;
}
body #container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 2em;
  -moz-box-shadow: #dddddd 0 0 25px 10px;
  -webkit-box-shadow: #dddddd 0 0 25px 10px;
  -o-box-shadow: #dddddd 0 0 25px 10px;
  box-shadow: #dddddd 0 0 25px 10px;
}
body #container > header {
  padding-bottom: 2em;
  position: relative;
}
body header, body footer {
  display: block;
}
body #content {
  padding-bottom: 2em;
}
body ul {
  margin-bottom: .5em;
  margin-right: 0;
  padding: 0;
  list-style-type: none;
}

li.event {
  padding-bottom: 1em;
}
li.event h3 {
  margin-bottom: .2em;
}

li.comment {
  padding-bottom: 1em;
}

li.submission {
  padding-bottom: 1em;
}
li.submission h4 {
  margin-bottom: .2em;
}
li.submission div.footer {
  padding-bottom: .5em;
}

div.event, div.submission {
  display: table;
  width: 100%;
}
div.event div.description, div.submission div.description {
  width: 65%;
  text-align: justify;
  padding-right: 2.5em;
}
div.event div.description ul, div.submission div.description ul {
  margin-bottom: .5em;
  margin-right: 0;
  padding-left: 1em;
  list-style-type: disc;
}
div.event div, div.submission div {
  display: table-cell;
}

div.inputs input[type=text], div.inputs textarea {
  font-size: 100%;
  font-family: inherit;
  padding: .5em;
  width: 30em;
  border: 1px solid #dddddd;
}
div.inputs .input {
  padding-bottom: 1em;
}
div.inputs label {
  font-weight: bold;
  display: block;
}

div.user {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dddddd;
  padding: 1em;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

div#error_explanation {
  background-color: #dddddd;
  padding: .5em 1em;
  margin-bottom: .5em;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

span.error {
  padding-left: 1em;
  color: red;
  vertical-align: top;
}

div.actions {
  position: relative;
  background-color: #dddddd;
  padding: .5em 1em;
  margin-bottom: .5em;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

div.organizer-actions, div.author-actions {
  position: absolute;
  right: 1em;
  top: .5em;
}

span.right {
  float: right;
}

header {
  margin-top: .6em;
}
header h1.title {
  display: inline;
  font-size: 350%;
  letter-spacing: -4px;
  padding: 0;
  margin: 0;
}
header h2.subtitle {
  display: inline;
  font-size: 175%;
  color: #666;
  letter-spacing: -1.5px;
  padding: 0;
  margin: 0;
  padding-left: .1em;
}

section {
  display: block;
}

section#about {
  clear: both;
}

section#body {
  position: relative;
}

article {
  display: block;
}
article header {
  margin-bottom: 1em;
}

footer {
  border-top: 1px solid #dddddd;
}
footer p {
  text-align: center;
  font-size: 80%;
  padding-top: 2em;
}

a:link, a:visited {
  color: #cc232a;
  text-decoration: none;
}

a:hover, a:active, .active a:link, .active a:visited {
  color: #cc232a !important;
  padding-bottom: .1em;
  outline: none;
  border-bottom: 1px solid #cc232a;
}

a.logo {
  border: 0;
}
