- unless @events.future.size.zero?
  %h2 Incoming events
  %ul
    - @events.future.each do |event|
      = render :partial => "event", :locals => {:event => event}

- unless @events.past.size.zero?
  %h2 Past events
  %ul
    - @events.past.each do |event|
      = render :partial => "event", :locals => {:event => event}

= content_for :user_actions do
  = link_to 'new event', new_event_path
